extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Oliver Rayner

        //- Feel free personalize the title below
        p.lead.text-light
           | VFX Coordinator, Full Stack JavaScript, Python and Filemaker Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Working in the film industry I have developed many filemaker apps to increase efficiency. 
            | Using the Treehouse tech degree I have progressed with my coding skills to now include Javascript and Python. 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Javascript
          li Python
          li Filemaker
          li Express
          li Django
          li Node
          li CSS
          li HTML
          li Pug 


        h6 Contact Info

        //- Add your own contact info
        ul
          li +44 (0) 7789 548 982
          li osrayner@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://github.com/olthar') GitHub
        a.button.expanded(href='https://www.imdb.com/name/nm2230996/') IMDB
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  