extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Oliver Rayner

        p.lead.text-light
           | VFX Coordinator, Full Stack JavaScript, Python and Filemaker Developer.

        .portfolio-bio
          p
            | Working in the film industry I have developed many filemaker apps to increase efficiency. 
            | Using the Treehouse tech degree I have progressed with my coding skills to now include Javascript and Python. 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Javascript
          li Python
          li Filemaker
          li Express
          li Django
          li Node
          li CSS
          li HTML
          li Pug 


        h6 Contact Info

        ul
          li +44 (0) 7789 548 982
          li osrayner@gmail.com

        a.button.expanded(href='https://github.com/olthar') GitHub
        a.button.expanded(href='https://www.imdb.com/name/nm2230996/') IMDB
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  